body {
  background-color: #d6d6d6;
}

#analog-clock {
  position: relative;
  margin: auto;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  height: 40vw;
  width: 40vw;
}

#hour,
#minute,
#second {
  transform-origin: bottom;
  position: absolute;
  background: #f8f8f8;
  border-radius: 2px;
}

#hour {
  top: 23.23%;
  left: 49.95%;
  height: 23%;
  width: 2%;
}
#minute {
  top: 19.23%;
  left: 50.18%;
  height: 27%;
  width: 1.5%;
}
#second {
  top: 17.23%;
  left: 50.4%;
  height: 29%;
  width: 1%;
}
